<ion-header >
  <ion-toolbar color="primary" size="small" mode="md">
    <ion-buttons slot="start">
    <ion-back-button defaultHref="/tabs/tab4"></ion-back-button>
  </ion-buttons>
  <ion-title>My Offers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-list>
    <ion-item-divider color="light">
      <ion-label class="divider-font">My OFFERS/COUPONS</ion-label>
    </ion-item-divider>

    <ion-item *ngFor="let offer of offers" mode="ios">
    <ion-label>
    <ion-chip color="tertiary bold"> <ion-text class="couponcode">{{offer.couponcode}}</ion-text></ion-chip>
    <h3 class="ion-text-wrap tnctxt bold">{{offer.title}}</h3>
    <p class="ion-text-wrap tnctxt">{{offer.subtitle}}</p>
    <ion-button  class="readmore" fill="outline" size="small" color="orange" (click)="onHdrClick(offer)">Read More</ion-button>
    <div *ngIf="offer.tnctapped">
    <h4 class="ion-text-wrap tnctxt tnctitle">{{offer.tncTitle}}</h4>
    <ul *ngFor="let tnc of offer.tncs">
      <li class="ion-text-wrap tnctxt">{{tnc}}</li>
    </ul>
  </div>
  </ion-label>
    
    </ion-item>
  </ion-list>

</ion-content>
