<ion-header >
  <ion-toolbar color="primary" size="small" mode="md">
    <ion-buttons slot="start">
    <ion-back-button defaultHref="/tabs/tab4"></ion-back-button>
  </ion-buttons>
  <ion-title>Manage Addresses</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-list>
    <ion-item-divider color="light">
      <ion-label class="divider-font">Manage Addresses</ion-label>
    </ion-item-divider>

    <ion-item *ngFor="let adrs of address" mode="ios">
	<ion-icon class="size-18" [name]="adrs.icon" slot="start"></ion-icon>
    <ion-label>
		
		<ion-text class="ion-text-capitalize addr-hdr-txt">{{adrs.name}}</ion-text>
		<p class="ion-text-wrap addr-body-txt">{{adrs.format_address}}</p>
		<ion-button class="bold"slot="start" fill="clear" (click)="onEditAddress(adrs)">Edit</ion-button>
		<ion-button class="left bold" slot="start" fill="clear" (click)="onDeleteAddres(adrs)">Delete</ion-button>
	</ion-label>
	
    </ion-item>
  </ion-list>
  <ion-button  class="ion-padding" expand="block" fill="outline"  mode="ios" size="default" (click)="onAddNewAddress()">Add New Address</ion-button>
</ion-content>
