.addr-hdr-txt{
	font-weight: bold;
	font-size: 13px;
	color: #6f6c6c;
}
.addr-body-txt{
	font-size: 12px;
	font-weight: bold;
}
.left{
	margin-left: 10%;
}
.bold{
	font-weight: bold;
	color:#f29130;
}
.size-18{
	font-size: 18px;
}